// app global css in SCSS form
@font-face {
  font-family: SVN-Rockness;
  src: url(./fonts/SVN-Rockness.otf);
  // , url(./fonts/SVN-Rockness.url);
}
.container {
  width: 100%;
  max-width: 1280px;
  // max-width: 1440px;
  margin: auto;
}
.bg-white-500 {
  background-color: #fbf9f3;
}
.text-white-400 {
  color: #f7f7f7;
}
.text-svn {
  font-family: 'SVN-Rockness';
}
.d-btn-secondary {
  background-color: #9c8b78;
  color: #ffffff;
  text-transform: initial;
}

@mixin text-multi-ellipsis($line, $line-height: 1.5, $font-size: 16px) {
  overflow: hidden;
  max-height: $line * $line-height * $font-size;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.text-3-lines {
  @include text-multi-ellipsis(3);
}
